<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'
a=[]

In [2]:
# print the value of a

print(a)

[]

In [3]:
# print the type of a
print(type(a))

<class 'list'>

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [6]:
languages=['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [7]:
print(len(languages))

5

Using for loop iterate and print all the elements in the list

In [8]:


for item in languages:
    print(item)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [9]:
temp = languages[1]
print(temp)

Python

Print the value of temp and type(temp)

In [10]:
print(temp)
print(type(temp))

Python
<class 'str'>

Append the element 'Java' in the list

In [12]:

languages.append('Java')
print(languages)

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

Remove the element 42 from the list and print the list

In [13]:


languages.remove(42)
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [14]:
colors=['Red','Blue','White']

Append the element 'Black' to colors

In [15]:

colors.append('Black')
print(colors)

['Red', 'Blue', 'White', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [16]:


colors.insert(1,'Orange')
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Print the list

In [17]:
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [18]:
colors2=['Grey','Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [19]:
colors=['Red','Orange','Blue','White','Black']
colors2=['Grey','Sky Blue']
colors.extend(colors2)
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Print len of colors and its elements

In [20]:

print(len(colors))

7

Sort the list and print it.

In [21]:

colors.sort()
print(colors)

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [22]:
sent = "Coronavirus Caused Lockdowns Around The World."

Use split function to convert the string into a list of words and save it in variable words and print the same

In [23]:

words=sent.split()
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [25]:

words_lower = []
for word in words:
    words_lower.append(word.lower())
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‚Äòcountry‚Äô is in the list

In [26]:
print('country' in words_lower)

False

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [27]:

words_lower.remove('the')
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [28]:
first_four_words = words_lower[:4]
print(first_four_words)

['coronavirus', 'caused', 'lockdowns', 'around']

In [29]:
# print x4
print(first_four_words)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [33]:
final_string = ' '.join(first_four_words)
print(final_string)

coronavirus caused lockdowns around

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [34]:
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [35]:

print(len(stud_grades))

6

Create a new variable, stud_grades_set = set(stud_grades)

In [37]:
stud_grades_set= set(stud_grades)
print(stud_grades_set)

{'B', 'A', 'F', 'C'}

Print stud_grades_set.

In [38]:

print(stud_grades_set)

{'B', 'A', 'F', 'C'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [39]:

stud_grades = ['A','A','B','C','C','F']
stud_grades_set = set(stud_grades)
print("Type of stud_grades:",type(stud_grades))
print("Type of stud_grades_set:", type(stud_grades_set))
print("Elements in stud_grades:", stud_grades)
print("Elements in stud_grades_set:", stud_grades_set)

Type of stud_grades: <class 'list'>
Type of stud_grades_set: <class 'set'>
Elements in stud_grades: ['A', 'A', 'B', 'C', 'C', 'F']
Elements in stud_grades_set: {'B', 'A', 'F', 'C'}

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [40]:

stud_grades_set.add('G')
print(stud_grades_set)

{'B', 'C', 'G', 'A', 'F'}

Add element 'F' to stud_grades_set. and print it.

In [41]:

stud_grades_set.add('F')
print(stud_grades_set)

{'B', 'C', 'G', 'A', 'F'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [42]:

stud_grades_set.remove('F')
print(stud_grades_set)

{'B', 'C', 'G', 'A'}

Print the elements and the length of stud_grades_set

In [43]:

print("Elements in stud_grades_set:", stud_grades_set)
print("Number of unique grades:", len(stud_grades_set))

Elements in stud_grades_set: {'B', 'C', 'G', 'A'}
Number of unique grades: 4

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [44]:
colors = ['red','blue','orange']
fruits = ['orange', 'grapes', 'apples']

Print color and fruits

In [45]:
print(colors, fruits)

['red', 'blue', 'orange'] ['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [47]:
colors = {'red', 'blue','orange'}
fruits = {'orange', 'grapes', 'apples'}

Find the union of both the sets.

In [48]:


union_set = colors.union(fruits)
print(union_set)

{'apples', 'orange', 'grapes', 'blue', 'red'}

Find the intersection of both the sets

In [49]:

intersection_set = colors.intersection(fruits)
print(intersection_set)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [50]:

result = fruits.difference(colors)
print(result)

{'grapes', 'apples'}

In [51]:
result = colors.difference(fruits)
print(result)

{'blue', 'red'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [52]:
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [53]:

for item in temp:
    print(item)

17
Virat
50.0

replace first element with 11 in temp

In [54]:
temp[0] = 11
print(temp)

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [55]:
temp1 = tuple(temp)
print(temp1)

(11, 'Virat', 50.0)

Iterate through temp1 and print all the items in temp1.

In [56]:

for item in temp1:
    print(item)

11
Virat
50.0

replace first element with 17 in temp1

In [58]:
temp1 = (17,) + temp1[1:]
print(temp1)

(17, 'Virat', 50.0)

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [62]:
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [64]:
print(city[0])

Bangalore

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [65]:
city2 = ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [66]:
cities = (city, city2)
print(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print cities

In [67]:
print(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [68]:
print(cities[0])

('Bangalore', 28.9949521, 72)

print the type of cities

In [71]:
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [72]:
d = {"actor":"amir", "animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [75]:
print(d.get("actor"))
print(d.get("animal"))
print(d.get("earth"))
print(d.get("list"))

amir
cat
2
[23, 32, 12]

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [76]:
actor = d['actor']
print(actor)

amir

Print the type of actor

In [77]:
print(type(actor))

<class 'str'>

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [78]:
list = d['list']
print(list)

[23, 32, 12]

Print the type of List.

In [79]:
print(type(list))

<class 'list'>

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [80]:
d1 = {'singer':'Kr$na', 'album':'Still here', 'genre':'hip hop'}

Merge d1 into d.

In [83]:
d.update(d1)
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip hop'}

print d

In [84]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip hop'}

Print all the keys in d

In [85]:
print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [86]:
print(d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [87]:
for key, value in d.items():
    print(f"({key} ---> {value})")

(actor ---> amir)
(animal ---> cat)
(earth ---> 2)
(list ---> [23, 32, 12])
(singer ---> Kr$na)
(album ---> Still here)
(genre ---> hip hop)

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [88]:

sent = "coronovirus caused lockdowns around the world"
char_count = {}
for char in sent:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1
print(char_count)

{'c': 3, 'o': 7, 'r': 4, 'n': 3, 'v': 1, 'i': 1, 'u': 3, 's': 3, ' ': 5, 'a': 2, 'e': 2, 'd': 4, 'l': 2, 'k': 1, 'w': 2, 't': 1, 'h': 1}